<html lang="en">
  <%- include('../partials/head.ejs')  %> 
<body>

  <nav>
    <div class="site-title">
      <a href="/"><h1>Blog Kostas</h1></a>
      <p>A Net Ninja Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <% if (user !== null) { %>
        <li><a href="/blogs/create-blog">New Blog</a></li>
      <% } %>
      <% if (user === null) { %>
        <li><a href="/register">Register</a></li>   
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li>
          <a>
            <form action="/logout?_method=DELETE" method="post" class="logout">
              <button type="submit">Logout</button>
            </form>
          </a>
        </li>
      <% } %> 
    </ul>
  </nav>

  <div class="create-blog content">
    <form action="/blogs" method="POST">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>
  
  <%- include('../partials/footer.ejs')  %> 

</body>
</html>
