<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')  %> 
<body>

  <%- include('../partials/nav.ejs')  %> 
 
  <h1>Register</h1>
  <div class="create-blog content">
   <form action="/register" method="POST"> 
     <label for="name">Name: </label>
     <input type="text" id="name" name="name" required>
     <label for="email">Email</label>
     <input type="email" id="email" name="email" required>
     <label for="password">Password</label>
     <input type="password" id="password" name="password" required>
     <button type="submit">Register</button>
   </form>
  </div>
  
  <%- include('../partials/footer.ejs')  %> 

</body>
</html>