<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Kostas</h1></a>
    <p>A Website for Learning Purposes</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create-blog">New Blog</a></li>
    <li><a href="/register">Register</a></li>   
    <li><a href="/login">Login</a></li>
  </ul>
</nav>